In [20]:
import pandas as pd


df = pd.DataFrame({"No": [1,2,3,4],
                   "text": ["a","ab","b","bd"]})
df

   No text
0   1    a
1   2   ab
2   3    b
3   4   bd

In [33]:
kpi=['a','b']
mask=df.text.apply(lambda x: any(item for item in kpi if item.lower() in x))
df1=df[mask]
df1['indexVal']=df1.index
df1['wordcount']=df1.text.str.len()
df1['matchedKPIName']=df1.text.apply(lambda x: item.lower() for item in kpi if item.lower() in x))

SyntaxError: invalid syntax (<ipython-input-33-3774972788f9>, line 6)

In [25]:
mask

0    True
1    True
2    True
3    True
Name: text, dtype: bool

In [32]:
df1

,No,text,indexVal,wordcount,matchedKPIName
0,1,a,0,1,<generator object <lambda>.<locals>.<genexpr> ...
1,2,ab,1,2,<generator object <lambda>.<locals>.<genexpr> ...
2,3,b,2,1,<generator object <lambda>.<locals>.<genexpr> ...
3,4,bd,3,2,<generator object <lambda>.<locals>.<genexpr> ...